body {
    background-color: white;
}

h1 {
    color: red;
}

#ocupacion {
    color: green;
}

.intro {
    color: blue;
}

div.cuerpo {
    color: black;
}

p,
div {
    font-size: 12pt;
}